h2 {
  text-align: center;
}

ul {
  list-style: none;
  width: 50%;
  margin: 30px auto;
}

li {
  padding-left: 30px;
  border-bottom: solid 1px black;
}

.older {
  color: green;
}

.younger {
  color: red;
}
